@import "tailwindcss";

@theme {
  --font-title: "Montserrat", "sans-serif";
  --font-text: "Arial", "sans-serif";

  --color-carambarP: #e10079;
  --color-carambarY: #fedb27;
  --color-carambarB: #411c0a;
}

body {
  background-color: var(--color-carambarY);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
